---
title: API Docs
---
<!--现货-->
<div id="index_content">
	{% include index.html %}
</div>

<!--现货-->
<div id="spot_content">
	{% include spot.html %}
</div>

<!--合约-->
<div id="futures_content">
	{% include futures.html %}
</div>

<!--杠杆-->
<div id="margin_content">
	{% include margin.html %}
</div>

<!--现货跟单-->
<div id="s_copy_trading_content">
	{% include s_copy_trading.html %}
</div>

<!--合约跟单-->
<div id="f_copy_trading_content">
	{% include f_copy_trading.html %}
</div>

<!--第三方平台-->
<div id="third_party_content">
	{% include third_party.html %}
</div>

<!--用户中心-->
<div id="user_center_content">
	{% include user_center.html %}
</div>